{% extends "base.html" %}
{% block content %}
<section id="content">
{% block content_title %}

{% endblock %}


   <div class="row">


        <div class="eleven columns">
                 <ol id="post-list">
                {% for article in articles_page.object_list %}
                        <li style="border-bottom: None;"><article class="hentry">
                                <header> <h2 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2> </header>
                                <footer class="post-info">
                                    <abbr class="published" title="{{ article.date.isoformat() }}"> {{ article.locale_date }} </abbr>
                                    {% if article.authors %}
                                    <address class="vcard author">By 
                                    {% for author in article.authors|sort %}
                                    <a class="url fn" href="{{ SITEURL }}/{{ author.url }}"> {{ author }}</a>
                                    {% endfor %}
                                    </address>
                                    {% endif %}
                                </footer><!-- /.post-info -->
                                <div class="entry-content"> {{ article.content }} </div><!-- /.entry-content -->
                        </article></li>
                {% endfor %}
                </ol><!-- /#posts-list -->

        </div><!-- /.eleven.columns -->
        
     {% include 'sidebar.html' %}
 </div><!-- /.row -->

</section><!-- /#content -->
{% endblock content %}
