<div class="three columns" align="center">

<h4>Organizers</h4>
  <a href="http://www.iis.sinica.edu.tw" target="_blank"><img src="./images/IISlogo.jpg"></a>
  <a href="http://citi.sinica.edu.tw" target="_blank"><img src="./images/CITIlogo.jpg"></a>
  <a href="http://www.iias.sinica.edu.tw" target="_blank"><img src="./images/IIASlogo.png"></a>

{% if tags %}
  <h4>Tags</h4>
  <ul class="blank">
  {% for tag in tag_cloud %}
    <li class="tag-{{ tag.1 }}"><a href="{{ SITEURL }}/{{ tag.0.url }}">{{ tag.0|e }}</a></li>
  {% endfor %}
  </ul>
{% endif %}

{% if SOCIAL %}
<nav class="widget">
  <h4>Social</h4>
  <ul class="blank">
  {% for name, url in SOCIAL %}
    <li><a href="{{ url|e }}">{{ name }}</a></li>
  {% endfor %}
  </ul>
</nav>
{% endif %}

</div>
